@model Common.Models.Leave

<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

@if (ViewBag.PendingLeaves != null && ViewBag.PendingLeaves.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Reason</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var leave in ViewBag.PendingLeaves)
            {
                <tr>
                    <td>@leave.User.UserName</td>
                    <td>@leave.Date</td>
                    <td>@leave.Reason</td>
                    <td>
                        <form action="/admin/ApproveLeave?leaveid=@leave.LeaveId" method="post">
                            <button type="submit" name="action" value="Approved" class="btn btn-success">Approve</button>
                            <button type="submit" name="action" value="Rejected" class="btn btn-danger">Reject</button>
                        </form>
                    </td>
                </tr>
            }



        </tbody>
    </table>
}
else
{
    <p><strong>No leaves available to Approve.</strong></p>

}

<script src="~/bundles/jquery"></script>
<script src="~/bundles/bootstrap"></script>
