@model Common.Models.User

<form id="userForm" action="/admin/UserAction" method="post">
    <div class="container">
        <div class="row gx-3">
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="text" id="username" class="form-control form-control-sm" name="UserName" placeholder="User Name">
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="text" id="designation" class="form-control form-control-sm" name="Designation" placeholder="Designation">
                    @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="text" id="email" class="form-control form-control-sm" name="UserEmail" placeholder="User Email">
                    @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="text" class="form-control form-control-sm" id="password" name="HashedPassword" placeholder="Password">
                    @Html.ValidationMessageFor(model => model.HashedPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="text" class="form-control form-control-sm" id="confirmPassword" name="ConfirmPassword" placeholder="Confirm Password">
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="hidden" name="Role" value="User">
            <div class="col-md-10">
                <div class="d-grid">
                    <button type="submit" class="btn btn-sm btn-success" id="btncreate" name="action" value="create">Create</button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="d-grid">
                    <a href="#" class="btn btn-sm btn-primary" onclick="resetForm('userForm')" data-bs-dismiss="modal" aria-label="Close">Discard</a>
                </div>
            </div>
        </div>
    </div>
</form>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $("#userForm").on("submit", function (e) {
            var selectedOption = $('#username');
            if (selectedOption.val() === "") {
                e.preventDefault();
                $("#username").siblings(".text-danger").text("User Name is required.");
            }
        });
        $("#userForm").on("submit", function (e) {
            var selectedOption = $('#designation');
            if (selectedOption.val() === "") {
                e.preventDefault();
                $("#designation").siblings(".text-danger").text("Designation is required.");
            }
        });
        $("#userForm").on("submit", function (e) {
            var selectedOption = $('#email');
            if (selectedOption.val() === "") {
                e.preventDefault();
                $("#email").siblings(".text-danger").text("Email is required.");
            }
        });
        $("#userForm").on("submit", function (e) {
            var selectedOption = $('#password');
            if (selectedOption.val() === "") {
                e.preventDefault();
                $("#password").siblings(".text-danger").text("Password is required.");
            }
        });
        $("#userForm").on("submit", function (e) {
            var selectedOption = $('#confirmPassword');
            var selectpassword = $('#password').val();
            if (selectedOption.val() === "") {
                e.preventDefault();
                $("#confirmPassword").siblings(".text-danger").text("Password is required.");
            } else if (selectedOption.val() != selectpassword)
            {
                e.preventDefault();
                $("#confirmPassword").siblings(".text-danger").text("Confirm password not matching.");
            }
        });
    });
</script>


